<h2>{{ category.name }}</h2>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }} - {{ product.price }} -
            {% if product.electronic_features %}
                Screen: {{ product.electronic_features.screen }} - RAM: {{ product.electronic_features.ram }}
            {% endif %}
            <ul>
                {% for image in product.images.all %}
                    <li><img src="{{ image.image.url }}" alt="{{ product.name }}" style="height: 155px; width: 155px;"></li>
                {% endfor %}
                <li><a href="{% url 'billing_page' product.id %}" class="btn btn-primary">Purchase</a></li>
            </ul>
            <h2>Comments...</h2>
            {% if not product.comments.all %}
                No comments yet...<a href="{% url 'add_comment' product.id %}">Add one</a>
            {% else %}
            <a href="{% url 'add_comment' product.id %}">Add another comment</a>
            <br><br>
                {% for comment in product.comments.all %}
                    <strong>
                        {{ comment.user_name }} - 
                        {{ comment.date_added }} 
                    </strong>
                    <br>
                    {{ comment.comment }}
                    <br><br>
                {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
